<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-4">
        <h3>投稿一覧</h3>
      </div>
      <div class="search_form">
        <%= render 'shared/microposts_search_form' %>
      </div>
    </div>
    <%= render 'shared/feed' %>
  </div>
</div>
<% else %>
  <div class="center jumbotron">
    <h1>My favorite Book</h1>

    <h2>
      <a>お気に入りの本をみんなと共有しよう！</a>
    </h2>

    <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-primary" %>
    
  </div>

<% end %>